body {
    font-size: 62.5%;
}

h1, 
h2 {
    background-color: $secondaryColor;
}

h1 {
    color: $white;
    font-family: $titleFont;
    letter-spacing: .2rem;
    font-size: 3.5rem;
}

h2 {
    color: $secondaryAccent;
    font-family: $mainFont;
    font-size: 1.6rem;
}

button {
    color: $black;
    font-family: $titleFont;
    font-size: 2.0rem;
}

p {
    font-family: $mainFont;
    color: $secondaryAccent;
    font-size: 1.6rem;
}
