button {
    padding: 5% 10%;
    background-color: $white;
    border: transparent;
    border-radius: 5px;
    transition: 0.4s;
}

button:hover,
button:focus-within {
    background-color: $secondaryAccent;
}

.dialogue {
    padding: 2%;
    background-color: $secondaryColor;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 35%;
    right: 35%;
    border: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include smDesktop {
        left: 25%;
        right: 25%;
    }
    @include phone {
        left: 16%;
        right: 16%;
    }
}