body,
.wrapper {
    position: relative;
}

main {
    position: relative;
}

.floor {
    position: absolute;
    background-color: $black;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80%;
    border: hidden;
    border-radius: 0 0 5px 5px;
}

.char {
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 6vw;
    height: 6vw;
    background-color: $white;
    border: hidden;
    border-radius: 7.5px;
    z-index: 10;
    @include smDesktop {
        width: 9vw;
        height: 9vw;
    }
    @include tablet {
        width: 10vw;
        height: 10vw;
    }
}

.obstacle {
    position: absolute;
    bottom: 20%;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 3.8vw solid transparent;
    border-right: 3.8vw solid transparent;
    border-bottom: 5.2vw solid $secondaryColor; 
    @include smDesktop {
        border-bottom-width: 8vw;
        border-left-width: 5vw;
        border-right-width: 5vw;
    }
    @include tablet {
        border-bottom-width: 9vw;
        border-left-width: 6.2vw;
        border-right-width: 6.2vw;
    }
}

.hiddenDialogue {
    display: none;
}