$primaryColor: #89ce94;
$secondaryColor: #643173;
$primaryAccent: #7d5ba6;
$secondaryAccent: #86a59c;
$black: #0c1713;
$white: #fff2d8;

$titleFont: 'Fredoka One', cursive;
$mainFont: 'Raleway', sans-serif;